<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703352833139-iiguu4f3pi8144ct1t1ie7qtm02q2945.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703352833139-iiguu4f3pi8144ct1t1ie7qtm02q2945</string>
	<key>API_KEY</key>
	<string>AIzaSyDMkTFVdVgyci1ufh5GHIpg6JN36KMaTfE</string>
	<key>GCM_SENDER_ID</key>
	<string>703352833139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfireUiTest</string>
	<key>PROJECT_ID</key>
	<string>flutterfireauthproject</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfireauthproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703352833139:ios:7aad8f74262e5558f45606</string>
</dict>
</plist>